@import "tailwindcss";

@theme {
  --font-reem: "Reem Kufi", sans-serif;
}

:root {
  font-family: var(--font-reem);
}

body {
  margin: 0;
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(
    --font-reem
  ) !important;
  -webkit-font-smoothing: antialiased;
}

p {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
}