@import "tailwindcss";

@theme {
  --font-reem: "Reem Kufi", sans-serif;
}

:root {
  font-family: var(--font-reem);
}

body {
  margin: 0;
  font-family: var(
    --font-reem
  ) !important;
  -webkit-font-smoothing: antialiased;
}
